/** 
    #674d3c
    #a2836e
    #d9ad7c
    #fff2df
**/
* {
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
p{
    font-size:20px ;
    text-align: justify;
}
ul{ 
    list-style: none;
}
header{
    position: relative;
    display: flex; 
    color:#d9ad7c;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
header .header_backimg{
    background-image: url(/imgs/eva-darron-oCdVtGFeDC0-unsplash.jpg);    
    background-position-y: 25%;
    background-color: #555;
    background-blend-mode: multiply;
    background-size:cover;

    height: 400px;
    width: 100%;
}
header .header_nav{
    
    list-style: none;
    
    position: absolute;
    

    padding:2% 5% 0% 5%;
    
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header_nav .header_logo{
    width: 15%;
    height: 100%;
}


.header_nav a:hover{
    background-color: aliceblue;
    
    border-radius: 40px;
    padding: 10px;
    font-size: 21px;
}
.header_nav a{
   
    cursor: pointer;
    font-size: 20px;
    text-decoration: underline;
    transition: 0.3s ;
}
header .header_content{
    position: absolute;
    top: 25%;
    height: 200px;
    width: 100%;
}
.header_content li{
   
    padding:6% 0% 0% 5%;
       
}
.header_content li h2{
    color: #a2836e;
    margin:0px;
    font-size:50px;
}
.header_content li p{
    font-size: 20px;
    
    width: 70%;
}

main{
    width: 100%;
    height: fit-content;
    padding:2% 7% 2% 7%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: #fff2df;
    color:#674d3c;
    
}

main h2{
    font-size:50px;
    color: #a2836e;
    
}

.aboutus p{  
    padding: 20px 10px 10px 10px ; 
}
.aboutus img{
    padding: 30px 20px 15px 10px;
    border-radius: 50%;
    width: 20%;
    height: 20%;
    position: relative;
    float: right;
    right: 0.3%;
    shape-outside:circle(50%)
}

.paises h4{
    background-color: #d9ad7c;
}

.paises img{
    width: 80%;
    height: 100%;
}
footer{
    padding:2% 7% 1% 7%;
    display: flex;
    width: 100%;
    background-color: #a2836e;
    justify-content: space-between;
}

footer .info-footer{
    width: 70%;
    color: #674d3c;
}
.info-footer ul{
    display: flex;
    padding: 0px;
    
}
.info-footer li{
    margin: 0px 5% 0px 0%;
}
.info-footer a{
    
    cursor: pointer;
    font-size: 20px;
    text-decoration: underline;
    transition: 0.3s ;
}
footer .social-media{
    width: 30%;
    align-items: center;
    color: #674d3c;
}
footer .logos-container{
    display: flex;
    justify-content: flex-start;

}
footer .logos-container img{
    width: 15%;
    height: 100%;

    margin: 0px 10% 0px 5%;
}