main{
    display: flex;
}

.filtro_box{
    width: 30%;
    margin-right: 3%;
    margin-top: 3%;
}

.box-products{
    width: 100%;
    margin-top:3% ;
}

.europa_lista{
    margin: 0;
    padding: 0;

}

.lugares{
    display: flex;
    flex-direction: column;
    margin-left: 10px;

}

.dropdown {
    margin-top: 10px;
    position: relative;
    display: inline-block;
  }
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    padding-left: 10%;
    margin-bottom: 10px;
    background-color: inherit;
    min-width: 160px;
}
.valores{
    margin-top: 10px;
}

.valores div{
    margin-left: 10px;
}
.slider{
    border-radius: 50px;  
    appearance: none;
    background:#d9ad7c;
    opacity: 0.7;
    height: 3px;
    width: 85%;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    background:#d9ad7c;
    border-radius: 50%;
    cursor: pointer;
}
.valores label{
    font-size: 20px;
}

.tipo{
    margin-top: 10px;
}
.input-container{
    margin-left: 10px;
}
.input-container label{
    font-size: 20px;
}
.lista_viagens{
    margin-left: 50px;
}
.viagem:not(:first-child){
    margin-top: 5%;
}
.card-viagem{
    width: 90%;
    height:70% ;
    padding: 2%;
    box-sizing: border-box;
    border: 1px solid #674d3c;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
}

.card-viagem img{
    width: 30%;
    height: 40%;
    border-radius: 10px;
}
.card-viagem .info{
    margin-left:5% ;
    width: 100%;
}
.card-viagem .sub-card{
    display: flex;
    align-items: end;
}
.card-viagem .sub-info{
    width: 70%;
}

.sub-card button{
    height: 30px;
    width: 50%;
    border-radius: 10px;
}