/*CSS PROMOCOES.HTML*/

main{
    display: flex;
}

.filtro_box{
    width: 30%;
    margin-right: 3%;
    margin-top: 3%;
}

.box-products{
    width: 100%;
    margin-top:3% ;
}

.europa_lista{
    margin: 0;
    padding: 0;
}

.lugares{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.dropdown {
    margin-top: 1rem;
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    padding-left: 10%;
    margin-bottom: 1rem;
    background-color: inherit;
    min-width: 16rem;
}

.valores{
    margin-top: 1rem;
}

.valores div{
    margin-left: 1rem;
}

.slider{
    border-radius: 5rem;  
    appearance: none;
    background:#d9ad7c;
    opacity: 0.7;
    height: 3px;
    width: 85%;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    background:#d9ad7c;
    border-radius: 50%;
    cursor: pointer;
}

.valores label{
    font-size: 2rem;
}

.tipo{
    margin-top: 1rem;
}

.input-container{
    margin-left: 1rem;
}

.input-container label{
    font-size: 2rem;
}

.lista_viagens{
    margin-left: 5rem;
}

.viagem:not(:first-child){
    margin-top: 5%;
}

.viagem .m-card{
    width: 90%;
    height:70% ;
    padding: 2%;
    display: flex;
}

.viagem .m-card img{
    width: 20.5rem;
    height: 13.7rem;
    border-radius: 1rem;
}

.viagem .m-card .info{
    margin-left:5% ;
    width: 100%;
}

.viagem .m-card .sub-card{
    display: flex;
    align-items: end;
}

.viagem .m-card .sub-info{
    width: 70%;
}

.sub-card button{
    height: 3rem;
    width: 50%;
    border-radius: 1rem;
}

@media only screen and (max-width: 800px){
    .filtro_box label{
        font-size: 1.5rem;
    }
    
    .viagem .m-card{
        padding-top: 5%;
        width: 90%;
        align-items: center;
        flex-direction: column;
    }

    .viagem .m-card .sub-card{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .viagem .m-card .info{
        margin-left:5% ;
        width: 80%;
    }

    .viagem .m-card img{
        width: 30rem;
        height: 19rem;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }

    .sub-card button{
        margin-left: 2rem;
        width: 80%;
    }
}