/*CSS INDEX.HTML*/

main{
    background-color: #a2836e ;
    padding: 0;
    text-align: center;
}

.menubg{
    background-color: #a2836e ;
}

.menu-nav-container{
    padding: 2rem 10rem;
}

.menu-nav{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: auto;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    column-gap: 1.6rem;
}

.menu-nav a{
    text-decoration: none;
    color: #fff2df;
    padding: 0.4rem;
}

.menu-int-nav{
    display: flex;
    gap: 1.5rem;
}

.login{
    border-radius: 1rem;
    background-color: #9D6EA2;
    border: 0.1rem solid black;
    width: 10.5rem;
    text-align: center;
}

.menu-int-nav a:hover{
    transform: scale(1.1);
    text-decoration: underline #fff2df;
}

.menu-nav div{
    display: flex;
    justify-content: right;
}

.nav-title{
    font-size:5rem ;
    color:#fff2df ;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.main-title{
    color:#fff2df ;
    margin-top: 4rem;
    font-size: 4rem;
}

.main-text{
    text-align: center;
    margin-bottom: 3rem;
}

.img{
    position: absolute;
    bottom: 1rem;
    width: 40%;
    height: 50%;
}

@media only screen and (max-width:1000px) {
    .img{
        width: 40%;
        height: 40%;
    }
}

.main-button{
    font-size: 2rem;
    color: #fff2df;
    padding:0.5rem 10rem ;
    border-radius: 1rem;
    border: 0.2rem solid black;
    background-color: #9D6EA2;
    text-decoration: none;
}

.img-f{
    left: 1rem;
}

.img-s{
    right: 1rem;
}